.container {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(30,121,9,1) 50%, rgba(0,255,21,1) 95%);
  }
  
 